@charset "UTF-8";
/*principal*/
/*background*/
/*general*/
/*police*/
/*variable pour les requêtes @media*/
/*decoration*/
/*les classes fantomes pour la fonction @extend*/
.restaurant__aime input:checked ~ .fa-color, .restaurant__aime input:hover ~ .fa-color {
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

/*mixin pour les requetes media*/
:root {
  font-size: 20px;
}
@media (min-width: 800px) and (max-width: 1000px) {
  :root {
    font-size: 25px;
  }
}

body {
  min-width: 200px;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Roboto";
  text-align: center;
  box-sizing: border-box;
}

h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.omf__tete {
  width: 100%;
  margin: 2% auto 0 auto;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.256);
  z-index: 4;
  box-sizing: border-box;
}

.tete__logo {
  margin: auto;
  width: 50%;
  max-width: 200px;
}

.logo--taille {
  margin: auto;
  width: 100%;
}

.main__accueil {
  width: 100%;
}

.accueil__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 0 0 40px 0;
  width: 100%;
  margin: auto;
  height: auto;
}

.input__localisation {
  border: none;
  padding: 10px;
  background-color: #eaeaea;
  padding-top: 15px;
}
.input__localisation::placeholder {
  text-align: center;
  opacity: 0.7;
  font-size: larger;
  color: #000000;
  font-weight: 700;
}

.form__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  z-index: 1;
}
.form__input > i {
  margin: auto 0;
}
.form__titre {
  align-self: center;
  font-size: 1rem;
  margin: 40px 20px 20px 20px;
  width: 60%;
}
.form__texte {
  color: #828282;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 20px 20px 20px;
}
.form__bouton {
  align-self: center;
  width: auto;
  padding: 13px 20px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "Roboto";
}
.form__bouton--clair:hover {
  background: linear-gradient(0deg, #9356DC, #fface8);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.256);
}

.guide__titre {
  text-align: left;
  width: 100%;
  margin: 40px 0 20px 6%;
  box-sizing: border-box;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .guide__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1000px) {
  .guide__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 800px) and (max-width: 1000px) {
  .guide__etapes {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
  }
}
@media (min-width: 1000px) {
  .guide__etapes {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
  }
}

.etapes__carte, .etapes__carte--change:hover {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 15px auto;
  padding: 8px 0 8px 0;
  width: 80%;
  max-width: 360px;
  min-width: 240px;
  font-size: 0.7rem;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
}
@media (min-width: 800px) and (max-width: 1000px) {
  .etapes__carte, .etapes__carte--change:hover {
    font-size: 0.4rem;
    min-width: 50px;
    max-width: 250px;
  }
}
@media (min-width: 1000px) {
  .etapes__carte, .etapes__carte--change:hover {
    font-size: 0.7rem;
    max-width: 300px;
  }
}
.etapes__carte .carte__index, .etapes__carte--change:hover .carte__index {
  color: #ffffff;
  margin: auto 5% auto -10px;
  height: 15px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
}
.etapes__carte .carte__icone, .etapes__carte--change:hover .carte__icone {
  margin: auto 10px;
  color: #828282;
}
.etapes__carte .carte__titre, .etapes__carte--change:hover .carte__titre {
  margin: 10px 10px;
  color: #4f4f4f;
}

.etapes__carte--change:hover {
  background-color: rgba(147, 86, 220, 0.2);
}
.etapes__carte--change:hover .carte__icone {
  color: #9356DC;
}

.main__restaurants {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  margin-top: 40px;
  height: auto;
}
@media (min-width: 1000px) {
  .main__restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
  }
}
@media (min-width: 1000px) {
  .main__restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    white-space: normal;
  }
}

.restaurants__titre {
  text-align: left;
  flex: 100%;
  padding: 50px 0;
  margin: 0 6%;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .restaurants__titre {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
@media (min-width: 1000px) {
  .restaurants__titre {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}

.restaurants__lien {
  background-color: #ffffff;
  width: 90%;
  margin: 20px auto 40px auto;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
  flex: 1;
  margin: 0 2% 40px 2%;
}
@media (min-width: 1000px) {
  .restaurants__lien {
    max-width: 400px;
  }
}
.restaurants__lien > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.restaurant__image {
  width: 100%;
  margin: auto;
  height: 170px;
}
.restaurant__description {
  margin: 0 5%;
  text-align: left;
  width: 65%;
}
.restaurant__aime {
  display: inline-block;
  font-size: 0.7rem;
  position: relative;
  top: -40px;
  text-align: right;
  width: 70%;
  margin: auto;
  height: 15%;
  right: 0;
  box-sizing: border-box;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .restaurant__aime {
    width: 80%;
    margin: auto;
    height: 15%;
  }
}
@media (min-width: 1000px) {
  .restaurant__aime {
    width: 70%;
    margin: auto;
    height: 15%;
  }
}

.description__titre {
  width: 100%;
  margin: 15px auto 0;
  height: auto;
  font-size: 0.9rem;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .description__titre {
    font-size: 1rem;
  }
}

.description__adresse {
  width: 100%;
  margin: 5px auto 0px auto;
  height: auto;
  font-size: 0.8rem;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .description__adresse {
    font-size: 0.8rem;
  }
}

.lien__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.image--taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__nouveau {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-weight: 600;
  font-size: 0.7rem;
  position: relative;
  top: -160px;
  text-align: right;
  width: 100%;
}
.image__nouveau > p {
  width: auto;
  padding: 5px 20px;
  margin: 0 15px;
  background-color: #99E2D0;
  color: #357e6c;
  border-radius: 3px;
}

.image__nouveau--visibilite {
  visibility: hidden;
}

.fa-color {
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}

.fa-position {
  position: absolute;
}

.restaurant__aime input {
  visibility: hidden;
}

.omf__footer {
  width: 100%;
  background-color: #353535;
  color: #ffffff;
  bottom: 0;
}
.omf__footer .footer__titre {
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0 6%;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .omf__footer .footer__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1000px) {
  .omf__footer .footer__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}

.navigation__ul {
  width: 100%;
  list-style: none;
  text-align: left;
  font-size: 0.6rem;
}
@media (min-width: 800px) and (max-width: 1000px) {
  .navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-size: 0.8rem;
  }
}
@media (min-width: 1000px) {
  .navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-size: 0.9rem;
  }
}

.navigation__li {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: -40px;
  padding-left: 6%;
}
.navigation__li .li__icone {
  margin: 4px 0 4px 5px;
  text-align: left;
  width: 20px;
}
.navigation__li .li__lien {
  text-align: left;
  margin: 4px 0 auto 4px;
}

.tete__retour {
  position: absolute;
  left: 0;
  color: #000000;
  z-index: 5;
  width: 50px;
}

.tete__retour > a {
  color: #000000;
}

.menu__image {
  width: 100%;
  z-index: 2;
}
.section__menu {
  position: relative;
  top: -80px;
  border-radius: 50px 50px 0 0;
  background-color: #eaeaea;
  z-index: 3;
}

.tete__logo--position {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entete__titre {
  padding: 0 0 0 6%;
  position: relative;
  top: 50px;
  font-family: "Shrikhand", cursive;
  text-align: left;
}

.menu__entete {
  margin: -40px 0 0 0;
}
.menu__recette {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin: 20px auto;
  background-color: #f7f7f7;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
}

.recette__titre {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;
  height: 80px;
  text-align: left;
  margin: 0 auto;
  padding: 20px 0 0 20px;
}

.recette__titre > h3 {
  margin: 0;
  padding: 0;
}

.description__recette-prix {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: auto;
  margin-top: -20px;
}

.recette__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  white-space: nowrap;
  justify-content: start;
  display: flex;
  flex: 1;
  font-size: 1rem;
}

.recette__prix {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: end;
  text-align: right;
  flex: 1;
  font-size: 1rem;
}

.back--check {
  position: relative;
  display: flex;
  justify-content: space-around;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 100px;
  height: auto;
}

.border--check {
  display: flex;
  justify-content: space-around;
  width: 30%;
  height: 28px;
  background-color: #ffffff;
  color: #99E2D0;
  border-radius: 50%;
  margin: auto;
}

.menu__recette input {
  visibility: hidden;
}

.menu__recette input {
  background-color: #99E2D0;
}

.fa-check {
  font-size: 0.8rem;
  flex: 1;
  margin: auto;
  width: 100%;
  padding-right: 20px;
}

.menu__recette input:checked ~ .fa-check {
  visibility: hidden;
}

/*# sourceMappingURL=style.css.map */
