@charset "UTF-8";
/*principal*/
/*background*/
/*general*/
/*police*/
/*variable pour les requêtes @media*/
/*variable pour le nombre de carte a afficher, influe aussi sur le temps de leur apparition*/
/*decoration*/
/*les classes fantomes pour la fonction @extend*/
.restaurant__aime input:checked ~ .fa-color, .restaurant__aime input:hover ~ .fa-color {
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}

/*mixin pour les requetes media*/
:root {
  font-size: 20px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  :root {
    font-size: 25px;
  }
}

body {
  min-width: 280px;
  width: 100%;
  margin: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto";
  text-align: center;
  max-width: 768px;
  box-sizing: border-box;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1000px) {
  body {
    max-width: 1000px;
  }
}
@media (min-width: 1000px) {
  body {
    max-width: 2000px;
  }
}

h2 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.omf__tete {
  background-color: #ffffff;
  width: 100%;
  margin: 2% auto 0 auto;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.256);
  z-index: 4;
  top: 0;
  margin: 0;
  box-sizing: border-box;
}

.tete__logo {
  margin: auto;
  width: 50%;
  max-width: 200px;
}

.logo--taille {
  margin: auto;
  width: 100%;
}

.main__accueil {
  width: 100%;
}

.accueil__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f7f7f7;
  padding: 0 0 40px 0;
  width: 100%;
  margin: auto;
  height: auto;
}

.input__localisation {
  border: none;
  padding: 10px;
  background-color: #eaeaea;
  padding-top: 15px;
}
.input__localisation::placeholder {
  text-align: center;
  opacity: 0.8;
  font-size: medium;
  color: #000000;
  font-weight: 800;
}

input[type=text]:focus {
  text-align: center;
  outline: none;
  opacity: 0.8;
  font-weight: 800;
  font-size: medium;
}

.form__input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #eaeaea;
  width: 100%;
  z-index: 1;
}
.form__input > i {
  margin: auto 0;
}
.form__titre {
  align-self: center;
  font-size: 1rem;
  margin: 20px 20px 20px 20px;
  width: 60%;
}
.form__texte {
  color: #828282;
  align-self: center;
  font-size: 0.8rem;
  font-weight: 400;
  margin: 0 20px 20px 20px;
}
.form__bouton {
  align-self: center;
  width: auto;
  padding: 13px 20px;
  background: linear-gradient(0deg, #9356DC, #FF79DA);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
  color: #ffffff;
  border-radius: 20px;
  border: none;
  font-family: "Roboto";
  cursor: pointer;
}
.form__bouton--clair:hover {
  background: linear-gradient(0deg, #9356DC, #fface8);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.256);
}

.guide__titre {
  text-align: left;
  width: 50%;
  margin: 40px 0 20px 6%;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .guide__titre {
    text-align: center;
    margin: 20px 0 0 0;
    width: 100%;
  }
}
@media (min-width: 1000px) {
  .guide__titre {
    text-align: center;
    margin: 20px 0 0 0;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .guide__etapes {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
  }
}
@media (min-width: 1000px) {
  .guide__etapes {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 3%;
  }
}

.etapes__carte, .etapes__carte--change {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 15px auto;
  padding: 8px 0 8px 0;
  width: 80%;
  max-width: 360px;
  min-width: 240px;
  font-size: 0.7rem;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
}
@media (min-width: 768px) and (max-width: 1000px) {
  .etapes__carte, .etapes__carte--change {
    font-size: 0.4rem;
    min-width: 50px;
    max-width: 250px;
  }
}
@media (min-width: 1000px) {
  .etapes__carte, .etapes__carte--change {
    font-size: 0.7rem;
    max-width: 300px;
  }
}
.etapes__carte .carte__index, .etapes__carte--change .carte__index {
  color: #ffffff;
  margin: auto 5% auto -10px;
  height: 15px;
  background-color: #9356DC;
  padding: 5px 10px;
  border-radius: 50%;
}
.etapes__carte .carte__icone, .etapes__carte--change .carte__icone {
  margin: auto 10px;
  color: #828282;
}
.etapes__carte .carte__titre, .etapes__carte--change .carte__titre {
  margin: 10px 10px;
  color: #4f4f4f;
}

.etapes__carte--change {
  background-color: rgba(147, 86, 220, 0.2);
}
.etapes__carte--change .carte__icone {
  color: #9356DC;
}

.main__restaurants {
  background-color: #f7f7f7;
  padding-bottom: 40px;
  margin-top: 40px;
  margin: auto;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .main__restaurants {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    white-space: normal;
  }
}
@media (min-width: 1000px) {
  .main__restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    white-space: normal;
  }
}

.restaurants__titre {
  text-align: left;
  flex: 100%;
  padding: 20px 0;
  margin: 0 6%;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .restaurants__titre {
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
  }
}
@media (min-width: 1000px) {
  .restaurants__titre {
    text-align: center;
    margin: 0;
    padding: 20px 0 0 0;
  }
}

.restaurants__lien {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto 40px auto;
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
  flex: 1;
}
@media (min-width: 1000px) {
  .restaurants__lien {
    max-width: 300px;
    width: 20%;
  }
}
.restaurants__lien > a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000000;
}

.restaurant__image {
  width: 100%;
  margin: auto;
  height: 170px;
  position: relative;
}
.restaurant__description {
  margin: 0 5%;
  text-align: left;
  width: 65%;
}
.restaurant__aime {
  display: inline-block;
  font-size: 0.7rem;
  position: relative;
  top: -40px;
  text-align: right;
  cursor: pointer;
  width: 70%;
  margin: auto;
  height: 15%;
  right: 0;
  box-sizing: border-box;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .restaurant__aime {
    width: 80%;
    margin: auto;
    height: 15%;
  }
}
@media (min-width: 1000px) {
  .restaurant__aime {
    width: 70%;
    margin: auto;
    height: 15%;
  }
}

.description__titre {
  width: 100%;
  margin: 15px auto 0;
  height: auto;
  font-size: 0.9rem;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .description__titre {
    font-size: 1rem;
  }
}

.description__adresse {
  width: 100%;
  margin: 5px auto 0px auto;
  height: auto;
  font-size: 0.8rem;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .description__adresse {
    font-size: 0.8rem;
  }
}

.lien__restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
}

.image--taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__nouveau {
  display: flex;
  flex-direction: row;
  justify-content: right;
  font-weight: 600;
  font-size: 0.7rem;
  position: absolute;
  top: 20px;
  right: 0px;
  text-align: right;
  width: 100%;
}
.image__nouveau > p {
  width: auto;
  padding: 5px 20px;
  margin: 0 15px;
  background-color: #99E2D0;
  color: #357e6c;
  border-radius: 3px;
}

.image__nouveau--visibilite {
  visibility: hidden;
}

.fa-color {
  background: -webkit-linear-gradient(-90deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}

.fa-position {
  position: absolute;
}

.restaurant__aime input {
  visibility: hidden;
}

.charge {
  background: radial-gradient(closest-side, rgba(0, 0, 0, 0), #353535);
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: 9;
  animation-name: chargement;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

@keyframes chargement {
  0% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.charge__icone {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -100px;
  z-index: 15;
  width: 100%;
  color: #FF79DA;
}
.charge__icone .icone__magasin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.charge__icone .icone__visage-1 {
  position: absolute;
  top: 50%;
  left: 47%;
  animation-delay: 0.25s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__visage-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  animation-delay: 0.5s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__visage-3 {
  position: absolute;
  top: 50%;
  left: 53%;
  animation-delay: 0.75s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__couverts-1 {
  position: absolute;
  top: 50%;
  left: 33%;
  animation-delay: 0.25s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__couverts-2 {
  position: absolute;
  top: 50%;
  left: 36%;
  animation-delay: 0.5s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__couverts-3 {
  position: absolute;
  top: 50%;
  left: 39%;
  animation-delay: 0.75s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__nourriture-1 {
  position: absolute;
  top: 50%;
  left: 67%;
  animation-delay: 0.25s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__nourriture-2 {
  position: absolute;
  top: 50%;
  left: 64%;
  animation-delay: 0.5s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
.charge__icone .icone__nourriture-3 {
  position: absolute;
  top: 50%;
  left: 61%;
  animation-delay: 0.75s;
  transform: translate(-50%, -50%);
  animation-name: visage-dansant;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}
@keyframes visage-dansant {
  from {
    top: 53%;
  }
  to {
    top: 48%;
  }
}

.logo__charge {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 16;
  color: #ffffff;
  font-size: 2rem;
  font-family: "Shrikhand", cursive;
}

.bouton__chargement {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  background: linear-gradient(0deg, #9356DC, #fface8);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.256);
  animation-name: bouton-lumiere;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

@keyframes bouton-lumiere {
  0% {
    background: #ff79da;
  }
  100% {
    background: #a356ff;
  }
}
.omf__footer {
  flex: 1;
  width: 100%;
  background-color: #353535;
  color: #ffffff;
  height: auto;
  z-index: 5;
  bottom: 0;
}
.omf__footer .footer__titre {
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  margin: 20px 0 0 6%;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .omf__footer .footer__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}
@media (min-width: 1000px) {
  .omf__footer .footer__titre {
    text-align: center;
    margin: 20px 0 0 0;
  }
}

.navigation__ul {
  width: auto;
  list-style: none;
  text-align: left;
  font-size: 0.6rem;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-size: 0.8rem;
  }
}
@media (min-width: 1000px) {
  .navigation__ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    font-size: 0.9rem;
  }
}

.navigation__li {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-left: -40px;
  padding-left: 6%;
}
.navigation__li .li__icone {
  margin: 4px 0 4px 5px;
  text-align: left;
  width: 20px;
}
.navigation__li .li__lien {
  text-align: left;
  margin: 4px 0 auto 4px;
}

.body-fond {
  background-color: #eaeaea;
}

.tete__retour {
  position: absolute;
  left: 0;
  color: #000000;
  z-index: 5;
  width: 50px;
}

.tete__retour > a {
  color: #000000;
}

.menu {
  position: relative;
}
.menu__image {
  width: 100%;
  z-index: 2;
  height: 200px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .menu__image {
    height: 200px;
  }
}
@media (min-width: 1000px) {
  .menu__image {
    top: 0px;
    height: 200px;
  }
}
.section__menu {
  background-color: #eaeaea;
  position: relative;
  align-self: center;
  margin: auto;
  height: auto;
  top: 0;
  border-radius: 50px 50px 0 0;
  z-index: 3;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .section__menu {
    top: 0px;
    margin: auto;
  }
}
@media (min-width: 1000px) {
  .section__menu {
    top: 0px;
    margin: auto;
  }
}

.tete__logo--position {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .image__taille {
    position: fixed;
    top: -300px;
    left: 0;
  }
}
@media (min-width: 1000px) {
  .image__taille {
    position: fixed;
    top: -300px;
    left: 0;
  }
}

.entete__titre {
  padding: 10px;
  min-width: 200px;
  position: relative;
  margin-right: 40px;
  top: 50px;
  font-family: "Shrikhand", cursive;
  font-size: 1rem;
  text-align: left;
  font-weight: 400;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .entete__titre {
    font-size: 1.5rem;
    height: 100px;
  }
}
@media (min-width: 1000px) {
  .entete__titre {
    font-size: 1.5rem;
    height: 100px;
  }
}

.entete__iconelike {
  margin: auto 0 auto 0;
  top: 40px;
  width: 50px;
  left: -60px;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .entete__iconelike {
    top: 20px;
  }
}
@media (min-width: 1000px) {
  .entete__iconelike {
    top: 20px;
  }
}

.menu__entete {
  margin: -40px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.menu__titre {
  text-transform: uppercase;
  white-space: nowrap;
  text-align: left;
  margin-left: 20px;
  margin-top: 60px;
  font-size: 1rem;
  font-weight: 400;
  border-bottom: 5px solid #99E2D0;
  width: 50px;
}

.form__menu {
  background-color: #eaeaea;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 0;
  height: auto;
}
@media (min-width: 768px) and (max-width: 1000px) {
  .form__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    height: auto;
  }
}
@media (min-width: 1000px) {
  .form__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    margin-right: auto;
    margin-left: auto;
  }
}

/*boucle pour generer les ids des cartes et la gestion de leur temps d'apparition*/
#menu__recette-1 {
  opacity: 0;
  animation-delay: 0.75s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-2 {
  opacity: 0;
  animation-delay: 1s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-3 {
  opacity: 0;
  animation-delay: 1.25s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-4 {
  opacity: 0;
  animation-delay: 1.5s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-5 {
  opacity: 0;
  animation-delay: 1.75s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-6 {
  opacity: 0;
  animation-delay: 2s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-7 {
  opacity: 0;
  animation-delay: 2.25s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-8 {
  opacity: 0;
  animation-delay: 2.5s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-9 {
  opacity: 0;
  animation-delay: 2.75s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

#menu__recette-10 {
  opacity: 0;
  animation-delay: 3s;
  animation-name: menu-apparition;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes menu-apparition {
  from {
    opacity: 0;
    margin-top: 40px;
  }
  to {
    opacity: 1;
    margin-top: 20px;
  }
}
.menu__recette {
  background-color: #f7f7f7;
  display: flex;
  width: 90%;
  max-width: 500px;
  height: 80px;
  margin: 20px auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.256);
  white-space: nowrap;
}
.menu__recette > p {
  height: 100%;
  margin-top: 110px;
  padding-right: 10px;
  align-self: center;
  font-weight: 700;
  font-size: 0.9rem;
}

.recette__description {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  padding: 5px;
  transition: width 1s;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recette__description > h3 {
  text-align: left;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8rem;
}
.recette__description .description__detail {
  text-align: left;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 0.8rem;
}

.menu__prix-bouton {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-content: end;
  width: 0%;
  height: 100%;
  margin-right: 0;
  overflow: hidden;
  transition: width 1s;
}
.menu__prix-bouton .prix-bouton__prix {
  height: 100%;
  text-align: right;
  font-size: 0.7rem;
  margin-top: 60px;
  margin-right: 20px;
}

/*gestion de l'animation des div des selections au survol de la souris*/
.menu__recette:hover .recette__description {
  width: 80%;
}
.menu__recette:hover .menu__prix-bouton {
  width: 20%;
}
.menu__recette:hover .fa-check {
  transform: rotate(360deg);
}

.back--check {
  text-align: center;
  align-self: center;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  width: 200px;
  height: 100%;
  margin-right: 0;
  z-index: 1;
}

.border--check {
  display: block;
  position: relative;
  text-align: center;
  align-self: center;
  width: 30px;
  height: 28px;
  background-color: #ffffff;
  color: #99E2D0;
  border-radius: 50%;
  margin: 50px auto auto auto;
  padding: 0;
  z-index: 2;
}

.menu__recette input {
  visibility: hidden;
  background-color: #99E2D0;
}

.fa-check {
  position: relative;
  align-self: center;
  text-align: center;
  display: block;
  font-size: 0.8rem;
  z-index: 3;
  color: #99E2D0;
  transition: transform 1s;
  margin-top: -18px;
  top: 5px;
  cursor: pointer;
}

.menu__recette input:checked ~ .recette__description {
  width: 80%;
}

.menu__recette input:checked ~ .menu__prix-bouton {
  width: 20%;
}

.menu__recette input:checked ~ .menu__prix-bouton > .back--check > label > .fa-check {
  transform: rotate(-360deg);
  font-size: larger;
  font-weight: 700;
}

/*bouton commander*/
.parent__form__bouton {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
