:root {
  font-size: 20px;

  @include mediaM {
    font-size: 25px;
  }
}

.charge {
  background-color: $noir;
  border: 10px solid $tertiaire;
  border-radius: 25%;
  padding:20px;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  z-index: 5;
  animation-name: chargement;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  box-sizing: border-box;
}

@keyframes chargement {
  0% {
    opacity: 0.8;
  }

  80% {
    opacity: 0.8;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.charge__icone {
  @include mixinFlex(row, center);
  top: 0;
  margin: 150px;
  z-index: 15;
  width: 100%;
  color: $secondaire;

  .icone__magasin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @for $v from 1 through 3 {
    .icone__visage-#{$v} {
      position: absolute;
      top: 50%;
      left: 44%+ ($v * 3);
      animation-delay: 0s + $v * 0.25;
      transform: translate(-50%, -50%);
      animation-name: visage-dansant;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  @for $c from 1 through 3 {
    .icone__couverts-#{$c} {
      position: absolute;
      top: 50%;
      left: 30%+ ($c * 3);
      animation-delay: 0s + $c * 0.25;
      transform: translate(-50%, -50%);
      animation-name: visage-dansant;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  @for $c from 1 through 3 {
    .icone__nourriture-#{$c} {
      position: absolute;
      top: 50%;
      left: 70%- ($c * 3);
      animation-delay: 0s + $c * 0.25;
      transform: translate(-50%, -50%);
      animation-name: visage-dansant;
      animation-iteration-count: infinite;
      animation-duration: 0.5s;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes visage-dansant {
    from {
      top: 53%;
    }

    to {
      top: 48%;
    }
  }
}
.logo__charge{
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:100%;
    z-index:16;
    color:$blanc;
    font-size: 2rem;
    font-family:$titre;

}
.bouton__chargement {
  position: absolute;
  top: 70%;
  left: 50%;
  font-size: 1rem;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    0deg,
    $primaire,
    adjust-color($secondaire, $lightness: 10%)
  );
  @include mixinOmbreFort;
  animation-name: bouton-lumiere;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
}

@keyframes bouton-lumiere {
  0% {
    background: adjust-color($secondaire, $lightness: 0%);
  }

  100% {
    background: adjust-color($primaire, $blackness: -50%);
  }
}

body {
  min-width: 200px;
  @include widthMarginHeight(100%, auto, auto);
  @include mixinFlex(column, flex-start);
  font-family: $texte;
  text-align: center;
  box-sizing: border-box;
  max-width: 800px;
  @include mediaM {
    max-width: 1000px;
  }

  @include mediaXL {
    max-width: 2000px;
  }
}

h2 {
  font-family: $texte;
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $blanc;
}
