.charge {
}

:root {
  font-size: 20px;
  @include mediaM {
    font-size: 25px;
  }
}

body {
  min-width: 200px;
  @include widthMarginHeight(100%, auto, auto);
  @include mixinFlex(column, flex-start);
  font-family: $texte;
  text-align: center;
  box-sizing: border-box;
  max-width: 800px;
  @include mediaM {
    max-width: 1000px;
  }
  @include mediaXL {
    max-width: 2000px;
  }
}

h2 {
  font-family: $texte;
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: $blanc;
}
