.charge {
}

body {
  max-width: 768px;
  min-width: 230px;
  @include widthMarginHeight(100%, auto, auto);
  @include mixinFlex(column, center);
  font-size: 20px;
  font-family: $texte;
  text-align: center;
  box-sizing: border-box;
}

h2 {
  font-family: $texte;
  font-weight: 900;
}

a {
  text-decoration: none;
  color: $blanc;
}
