.omf__footer {
    background-color: $gristresfonce;
    color:$blanc;
    .footer__titre {
        font-family: $titre;
        font-size: 1em;
        font-weight:400;
        text-align: left;
        margin: 20px 0 0 6%;
    }

    .footer__navigation {}
}

.navigation__ul {
    width:100%;
    list-style: none;
    text-align: left;
    margin-left:-20px;
    font-size:0.6em;
}

.navigation__li {
    display: flex;
    @include mixinFlex(row, start, no-wrap);


    .li__icone {
        margin:4px 0 4px 5px;
        text-align: left;
        width:20px;
    }
    .li__lien {
        text-align: left;
        margin:4px 0 auto 4px;
    }
}