.accueil__form {
  @include mixinFlex(column, center);
  background-color: $grisclair;
  padding: 0 0 40px 0;
  @include widthMarginHeight(100%, auto, auto);
}

.input__localisation {
  border: none;
  padding: 10px;
  background-color: $grisfonce;
  padding-top: 15px;
  &::placeholder {
    text-align: center;
    opacity: 0.8;
    font-size: medium;
    color: $noir;
    font-weight: 800;
  }
}
input[type="text"]:focus {
  text-align: center;
	outline:none;
  opacity: 0.8;
  font-weight: 800;
  font-size: medium;
}
.form {
  &__input {
    @include mixinFlex(row, center);
    background-color: $grisfonce;
    width: 100%;
    z-index: 1;
    & > i {
      margin: auto 0;
    }
  }

  &__titre {
    align-self: center;
    font-size: 1rem;
    margin: 20px 20px 20px 20px;
    width: 60%;
  }

  &__texte {
    color: adjust-color($gristresfonce, $lightness: 30%);
    align-self: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0 20px 20px 20px;
  }

  &__bouton {
    align-self: center;
    width: auto;
    padding: 13px 20px;
    background: linear-gradient(0deg, $primaire, $secondaire);
    @include mixinOmbreLeger;
    color: $blanc;
    border-radius: 20px;
    border: none;
    font-family: $texte;
    cursor: pointer;
  }

  &__bouton--clair:hover {
    background: linear-gradient(
      0deg,
      $primaire,
      adjust-color($secondaire, $lightness: 10%)
    );
    @include mixinOmbreFort;
  }
}
