.main__guide {
    margin-bottom:60px;
}

.guide {
  &__titre {
    text-align: left;
    margin: 40px 0 20px $marginLeftTitre;
  }

  &__etapes {
  }
}

.etapes__carte {
  background-color: $grisclair;
  @include mixinFlex(row, start);
  margin: 15px auto;
  padding: 8px 0 8px 0;
  width: 85%;
  max-width: 390px;
  font-size: 0.7em;
  border-radius: 20px;
  @include mixinOmbreLeger;

  .carte__index {
    color: $blanc;
    margin: auto 5% auto -10px;
    height: 15px;
    background-color: $primaire;
    padding: 5px 10px;
    border-radius: 50%;
  }

  .carte__icone {
    margin: auto 20px;
    color:adjust-color($gristresfonce, $lightness:30%);
  }

  .carte__titre {
    margin: 10px 20px;
    color:adjust-color($gristresfonce, $lightness:10%);
  }
}

.etapes__carte--change:hover {
  @extend .etapes__carte;
  background-color: adjust-color($primaire, $alpha: -0.8);
  .carte__icone {
    color: $primaire;
  }
}
