.main__guide {

}

.guide {
  &__titre {
    text-align: left;
    width:100%;
    margin: 40px 0 20px $marginLeftTitre;
    box-sizing: border-box;
    @include mediaM{
      text-align: center;
      margin: 20px 0 0 0;
    }
    @include mediaXL{
      text-align: center;
      margin: 20px 0 0 0;
    }
  }

  &__etapes {
    @include mediaM{
      @include widthMarginHeight(90%, auto, auto);
      @include mixinFlex(row, space-around);
      gap:3%;
    }
    @include mediaXL{
      @include widthMarginHeight(90%, auto, auto);
      @include mixinFlex(row, space-around);
      gap:3%;
    }
  }
}

.etapes__carte {
  background-color: $grisclair;
  @include mixinFlex(row, start);
  margin: 15px auto;
  padding: 8px 0 8px 0;
  width: 80%;
  max-width: 360px;
  min-width: 240px;
  font-size: 0.7rem;
  border-radius: 20px;
  @include mixinOmbreLeger;
  @include mediaM{
    font-size: 0.4rem;
    min-width: 50px;
    max-width: 250px;
  }
  @include mediaXL{
    font-size: 0.7rem;
    max-width: 300px;
  }

  .carte__index {
    color: $blanc;
    margin: auto 5% auto -10px;
    height: 15px;
    background-color: $primaire;
    padding: 5px 10px;
    border-radius: 50%;
  }

  .carte__icone {
    margin: auto 10px;
    color:adjust-color($gristresfonce, $lightness:30%);
  }

  .carte__titre {
    margin: 10px 10px;
    color:adjust-color($gristresfonce, $lightness:10%);
  }
}

.etapes__carte--change:hover {
  @extend .etapes__carte;
  background-color: adjust-color($primaire, $alpha: -0.8);
  .carte__icone {
    color: $primaire;
  }
}
