.omf__tete {
  background-color: $blanc;
  @include widthMarginHeight(100%, 2% auto 0 auto, auto);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 2px 2px $ombre;
  z-index: 4;
  top:0;
  margin:0;
  box-sizing: border-box;
}
.tete__logo {
  margin: auto;
  width: 50%;
  max-width: 200px;
}
.logo--taille {
  margin: auto;
  width: 100%;
}

.omf {
  &__main {
    &__retour {
    }
  }
}

.main__accueil {
  width: 100%;
}
