.omf__tete {
    @include widthMarginHeight(100%, 2% auto 0 auto, auto);
    padding:5%;
    display:flex;
    justify-content: space-around;
    box-shadow: 0 2px 2px $ombre;
    z-index: 4;
    box-sizing: border-box;
}
.tete__logo{
    margin:auto;
    width:50%;
}
.logo--taille{
    margin:auto;
    width:100%;
}

.omf {
    &__main {}

    &__retour {}
}
.main__accueil {
    @include widthMarginHeight(100%, auto, auto);
    @include mixinFlex(column, center);
}
