.body-fond {
  background-color: $grisfonce;
}

.tete__retour {
  position: absolute;
  left: 0;
  color: $noir;
  z-index: 5;
  width: 50px;
}

.tete__retour > a {
  color: $noir;
}

.menu {
  &__image {
    width: 100%;
    z-index: 2;
  }

  &__validation {
  }
}

.section__menu {
  background-color: $grisfonce;
  position: relative;
  align-self: center;
  margin: 0 auto;
  height: auto;
  top: -100px;
  border-radius: 50px 50px 0 0;
  z-index: 3;
  width: 100%;
}

.tete__logo--position {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.entete__titre {
  padding: 20px;
  min-width: 200px;
  position: relative;
  margin-right: 40px;
  top: 50px;
  font-family: $titre;
  font-size: 1.5rem;
  text-align: left;
}

.entete__iconelike {
  margin: auto 0px;
  top: -30px;
}

.menu {
  &__entete {
    margin: -40px 0 0 0;
  }

  &__titre {
    text-transform: uppercase;
    white-space: nowrap;
    text-align: left;
    margin-left: 20px;
    margin-top: 60px;
    font-size: 1rem;
    font-weight: 400;
    border-bottom: 5px solid $tertiaire;
    width: 50px;
  }
}

.form__menu {
  background-color: $grisfonce;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  height: 100%;
}

@for $i from 1 through 10{
  #menu__recette-#{$i} {
    opacity: 0;
    animation-delay: 4s+$i*0.25;
    animation-name: menu-apparition;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }
}
@keyframes menu-apparition {
  from {
    opacity: 0;
    margin-top:40px;
  }
  to {
    opacity: 1;
    margin-top:20px;
  }
}

.menu__recette {
  background-color: $grisclair;
  display: flex;
  width: 90%;
  max-width: 600px;
  height: 80px;
  margin: 20px auto;
  justify-content: center;
  align-content: center;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  @include mixinOmbreLeger;
  white-space: nowrap;

  & > p {
    height: 100%;
    margin-top: 110px;
    padding-right: 10px;
    align-self: center;
    font-weight: 700;
    font-size: 0.9rem;
  }
}


.recette__description {
  @include mixinFlex(column, start);
  width: 100%;
  padding: 5px;
  transition: width 1s;
  text-overflow: ellipsis;
  overflow: hidden;

  & > h3 {
    text-align: left;
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
  }

  .description__detail {
    text-align: left;
    white-space: nowrap;
    width: 100%;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.8rem;
  }
}

.menu__prix-bouton {
  @include mixinFlex(row, end);
  align-content: end;
  width: 0%;
  height: 100%;
  margin-right: 0;
  overflow: hidden;
  transition: width 1s;

  .prix-bouton__prix {
    height: 100%;
    text-align: right;
    font-size: 0.7rem;
    margin-top: 60px;
    margin-right: 20px;
  }
}

.menu__recette:hover {
  .recette__description {
    width: 80%;
  }

  .menu__prix-bouton {
    width: 20%;
  }

  .fa-check {
    transform: rotate(360deg);
  }
}

.back--check {
  text-align: center;
  align-self: center;
  background-color: $tertiaire;
  border-radius: 0 20px 20px 0;
  width: 200px;
  height: 100%;
  margin-right: 0;
  z-index: 1;
}

.border--check {
  display: block;
  position: relative;
  text-align: center;
  align-self: center;
  width: 30px;
  height: 28px;
  background-color: $blanc;
  color: $tertiaire;
  border-radius: 50%;
  margin: 50px auto auto auto;
  padding: 0;
  z-index: 2;
}

.menu__recette input {
  visibility: hidden;
  background-color: $tertiaire;
}

.fa-check {
  position: relative;
  align-self: center;
  text-align: center;
  display: block;
  font-size: 0.8rem;
  z-index: 3;
  color: $tertiaire;
  transition: transform 1s;
  margin-top: -18px;
  top: 5px;
}

.menu__recette input:checked ~ .recette__description {
  width: 80%;
}

.menu__recette input:checked ~ .menu__prix-bouton {
  width: 20%;
}

.menu__recette
  input:checked
  ~ .menu__prix-bouton
  > .back--check
  > label
  > .fa-check {
  transform: rotate(-360deg);
  font-size: larger;
  font-weight: 700;
}
