@mixin mixinFlex($flex-direction, $justify-content, $wrap) {
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  flex-wrap: $wrap;
  display: flex;
}

@mixin mixinOmbreLeger(){
  box-shadow: 0px 5px 10px $ombre;
}
@mixin mixinOmbreFort(){
  box-shadow: 0px 10px 10px $ombre;
}


/*les classes fantomes pour la fonction @extend*/
%coeurAnimation{
    background: -webkit-linear-gradient(-90deg, $primaire, $secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    opacity: 1;

}
