$primaire: #9356DC;
$secondaire: #FF79DA;
$tertiaire: #99E2D0;
$gristresfonce:#353535;
$grisfonce: #eaeaea;
$grisclair:#f7f7f7;
$blanc:#ffffff;
$noir:#000000;
$ombre:rgba(0, 0, 0, 0.256);

$titre: "Shrikhand", cursive;
$texte: "Roboto";

$marginTitre: 40px 5%;

$opacity: 0;