.restaurants__lien {
  background-color: $blanc;
  @include widthMarginHeight(90%, 0 auto 40px auto, auto);
  border-radius: 20px;
  overflow: hidden;
  @include mixinOmbreLeger();
  flex: 1;
  @include mediaXL {
    max-width: 300px;
    width:20%;
  }
  & > a {
    @include mixinFlex(column, center);
    color: $noir;
  }
}

.restaurant {
  &__image {
    @include widthMarginHeight(100%, auto, 170px);
    position:relative;
  }

  &__description {
    margin: 0 5%;
    text-align: left;
    width: 65%;
  }

  &__aime {
    display: inline-block;
    font-size: 0.7rem;
    position: relative;
    top: -40px;
    text-align: right;
    @include widthMarginHeight(70%, auto, 15%);
    @include mediaM {
      @include widthMarginHeight(80%, auto, 15%);
    }
    @include mediaXL {
      @include widthMarginHeight(70%, auto, 15%);
    }
    right: 0;
    box-sizing: border-box;
  }
}

.description__titre {
  @include widthMarginHeight(100%, 15px auto 0, auto);
  font-size: 0.9rem;
  @include mediaM {
    font-size: 1rem;
  }
}

.description__adresse {
  @include widthMarginHeight(100%, 5px auto 0px auto, auto);
  font-size: 0.8rem;
  @include mediaM {
    font-size: 0.8rem;
  }
}

.lien__restaurant {
  @include mixinFlex(row, center);
  height: auto;
}

.image--taille {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image__nouveau {
  @include mixinFlex(row, right);
  font-weight: 600;
  font-size: 0.7rem;
  position: absolute;
  top: 20px;
  right:0px;
  text-align: right;
  width: 100%;

  & > p {
    width: auto;
    padding: 5px 20px;
    margin: 0 15px;
    background-color: $tertiaire;
    color: $tertiaireFonce;
    border-radius: 3px;
  }
}

.image__nouveau--visibilite {
  visibility: hidden;
}

.fa-color {
  background: -webkit-linear-gradient(-90deg, $primaire, $secondaire);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 1s;
}

.fa-position {
  position: absolute;
}

.restaurant__aime input {
  visibility: hidden;
}

.restaurant__aime input:hover ~ .fa-color {
  @extend %coeurAnimation;
}
.restaurant__aime input:checked ~ .fa-color {
  @extend %coeurAnimation;
}


