.restaurants__lien{
  background-color: white;
  width:90%;
  border-radius: 20px;
  margin:20px auto 40px auto;
  height:auto;
  box-sizing:border-box;
  overflow: hidden;
  @include mixinOmbreLeger();

  &>a{
    color:$noir;
  }

}
.restaurant {
    &__image {
      width: 100%;
      height: 170px;
    }
  
    &__description {
      margin: 0 5%;
      text-align: left;
      width: 65%;
    }
  
    &__aime{
      display: inline-block;
      font-size:0.7em;
      position: relative;
      top: -40px;
      text-align: right;
      width: 60%;
      height: 20%;
      right:0;
      box-sizing: border-box;
    }
  }
  
  .description__titre {
    margin:10px 0 5px 0;
    font-size:0.9em;
  }
  
  .description__adresse {
    margin:5px 0 0 0;
    font-size:0.8em;
  }
  
  .lien__restaurant {
    @include mixinFlex(row, start, wrap);
    height: auto;
  }
  
  .image--taille {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image__nouveau {
    @include mixinFlex(row, right, no-wrap);
    font-weight: 600;
    font-size: 0.7em;
    position: relative;
    top: -160px;
    text-align: right;
    width:100%;
    
    &>p{
      width:auto;
      padding:5px 20px;
      margin:0 15px;
      background-color: $tertiaire;
      color:adjust-color($tertiaire, $green:-100, $red:-100, $blue:-100);
      border-radius:3px;
    }
   
  }
  
  .image__nouveau--visibilite {
    visibility: hidden;
  }
  
  .fa-color {
    background: -webkit-linear-gradient(90deg, $primaire, $secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fa-position {
    position: absolute;
  }
  
  .restaurant__aime input{
      visibility: hidden;
  }
  
  .restaurant__aime input:hover ~ .fa-color{
     @extend %coeurAnimation;
  }
  .restaurant__aime input:checked ~ .fa-color{
     @extend %coeurAnimation;
  }

