.restaurants__lien{
  background-color: $blanc;
  @include widthMarginHeight(90%, 20px auto 40px auto, auto);
  border-radius: 20px;
  box-sizing:border-box;
  overflow: hidden;
  @include mixinOmbreLeger();

  &>a{
    @include mixinFlex(column, center);
    color:$noir;
  }

}

.restaurant {
    &__image {
      @include widthMarginHeight(100%, auto, 170px);
    }
  
    &__description {
      margin: 0 5%;
      text-align: left;
      width: 65%;
    }
  
    &__aime{
      display: inline-block;
      font-size:0.7em;
      position: relative;
      top: -40px;
      text-align: right;
      @include widthMarginHeight(60%, auto, 20%);
      right:0;
      box-sizing: border-box;
    }
  }
  
  .description__titre {
    @include widthMarginHeight(100%, 15px auto 0, auto);
    font-size:0.9em;
  }
  
  .description__adresse {
    @include widthMarginHeight(100%, 5px auto 0px auto, auto);
    font-size:0.8em;
  }
  
  .lien__restaurant {
    @include mixinFlex(row, center);
    height: auto;
  }
  
  .image--taille {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .image__nouveau {
    @include mixinFlex(row, right);
    font-weight: 600;
    font-size: 0.7em;
    position: relative;
    top: -160px;
    text-align: right;
    width:100%;
    
    &>p{
      width:auto;
      padding:5px 20px;
      margin:0 15px;
      background-color: $tertiaire;
      color:$tertiaireFonce;
      border-radius:3px;
    }
   
  }
  
  .image__nouveau--visibilite {
    visibility: hidden;
  }
  
  .fa-color {
    background: -webkit-linear-gradient(-90deg, $primaire, $secondaire);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
    opacity: 0;
    transition: opacity 1s;
  }
  
  .fa-position {
    position: absolute;
  }
  
  .restaurant__aime input{
      visibility: hidden;
  }
  
  .restaurant__aime input:hover ~ .fa-color{
     @extend %coeurAnimation;
  }
  .restaurant__aime input:checked ~ .fa-color{
     @extend %coeurAnimation;
  }

